*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
    color: white;
}
#container{
    display: flex;
    height: 400px;
    width: 400px;
   box-shadow: 0px 0px 50px red;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    margin-top: 40px;
    overflow: hidden;

}
#heading{
    display: block;
    color: pink;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;



}
#anime_name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#anime_desc{
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#imgbox{
    height: 300px;
    width: 300px;
border: 1px solid;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
#image{
    height: 100%;width: 100%;
    object-fit:cover;
    object-position: top;
}
@media (max-width:450px) {
   
    #heading{
        font-size:20px ;
    }
    #container{
        width: 300px;
        height: 300px;
    }
    #imgbox{
        width: 200px;
        height: 200px;
    }
    #anime_name{
        font-size: 15px;

    }
    #anime_desc{
        font-size:12px ;
    }

   
}